@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/*-- VARIABLES CSS--*/
/*Colores*/
:root{
    --first-color: #f7cecb;
    --second-color: #DCFAFB;
    --third-color: #FFE8DF;
    --accent-color: #9ec0f3;
    --dark-color: #161616;
	--fourth-color: #d8c3ed;
	--fifth-color: #ddf1cc;
	--sixth-color: #fedef0;
}

/*Tipografia responsive*/
:root{
    --body-font: 'Open Sans';
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}
@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}

/*-- BASE --*/

h1{
    font-size: var(--h1-font-size);
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

/*-- LAYAOUT --*/
.main {
    padding: 2rem 0;
}
.bd-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 1200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
	margin-top: 2.0rem;
    align-items: center;
    gap: 2rem;
}

/*-- PAGES --*/
.title-shop{
    position: relative;
	margin-top: 3.0rem;
}
.title-shop::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 72px;
    height: 2px;
    background-color: var(--dark-color);
    margin-left: .25rem;
}

/*-- COMPONENT --*/
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
	margin-top: 5.0rem;
    width:100%;
    height:80%;
}
article:nth-child(1){
    background-color: var(--first-color);
}
article:nth-child(2){
    background-color: var(--second-color);
}
article:nth-child(3){
    background-color: var(--third-color);
}
article:nth-child(4){
    background-color: var(--fourth-color);
}
article:nth-child(5){
    background-color: var(--fifth-color);
}
article:nth-child(6){
    background-color: var(--sixth-color);
}
article:nth-child(7){
    background-color: var(--accent-color);
}

article:nth-child(8){
    background-color: var(--third-color);
}

article:nth-child(9){
    background-color: var(--fourth-color);
}

.card__name{
    position: absolute;
    left: -25%;
    top: 0;
    width: 3.5rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    background-color: var(--dark-color);
    color: #fff;
    font-weight: bold;
    transition: .5s;
}
.card__icon{
    font-size: 1.5rem;
    color: var(--dark-color);
}
.card__icon:hover{
    color: var(--accent-color);
}
.card__precis{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .5s;
}
.card__preci{
    display: block;
    text-align: center;
}
.card__preci--before{
    font-size: var(--smaller-font-size);
    color: var(--accent-color);
    margin-bottom: .25rem;
	justify-content: center;
}
.card__preci--now{
    font-size: var(--h3-font-size);
    font-weight: bold;
	justify-items: center;
}

.card__img{
    width: 70%;
    height: 70%;
    padding: 3rem 0;
    transition: .5s;
}
/*Move left*/
.card:hover{
    box-shadow: 0 .5rem 1rem #D1D9E6;
}
.card:hover .card__name{
    left: 0;
}
.card:hover .card__img{
    transform: scale(1.1);
    margin-left: 3.5rem;
}
.card:hover .card__precis{
    margin-left: 3.5rem;
    padding: 0 1.5rem;
}

/*-- MEDIA QUERIES --*/
@media screen and (min-width: 1200px){
    body{
        margin: 3rem 0 0 0;
    }
    .title-shop{
        margin: 0 5rem;
    }
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}


.slider{
    width: 1600px;
    max-width: 100vw;
    height: 700px;
    /*top: 50px;*/
    position: relative;
    overflow: hidden;
}
.list {
    position: absolute;
    height: 100%;
    display: flex;
    width: 100%;
    /*top: 50px;*/
    transition: 1s;
}
.list img{
    width: 1600px;
    max-width: 100vw;
    height: 700px;
    /*top: 50px;*/
    object-fit: fill;
}
.buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 505;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.dots{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    transition: 1s;
}
.dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
}
.dots li.active {
    width: 30px;
}
@media screen and ( max-width: 768px) { 
    .slider {
        height: 400px;
    }
    
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

.item {
    width: 100%;
}

/* product */

.product-container{
    display:flex;
    flex-wrap:wrap;
     width:100%;
    justify-content:center;
    margin: 10px;
  } 
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
      background-color: white; 
    
    padding-bottom:1%
  
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .product-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
  }
  
  .product-description {
    font-size: 0.875rem;
    margin: 10px 0;
    text-align: center;
  }
  
  .product-price {
    font-size: 1.125rem;
    font-weight: bold;
    margin: 10px 0;
    color: orange;
  }
  
  .add-to-cart-button {
    padding: 10px 20px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 0.875rem;
    cursor: pointer;
  }
  
  .add-to-cart-button:hover {
    background-color: darkorange;
  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }
  .original-price {
    text-decoration: line-through;
    color: lightgray;
    font-size: 0.875rem;
  }
  
  .discount-price {
    color: orange;
    font-size: 1.125rem;
    font-weight: bold;
  }


.fw-800 {
    font-weight: 800
}

.bg-green {
    background-color: #208f20 !important;
    color: #fff
}

.bg-black {
    background-color: #1f1d1d;
    color: #fff
}

.bg-red {
    background-color: #bb3535;
    color: #fff
}

@media (max-width: 767.5px) {

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link:hover {
        background-color: #b71c1c;
        color: #fff !important
    }

    .navbar-nav .nav-link {
        border: 3px solid transparent;
        margin: 0.8rem 0;
        display: flex;
        border-radius: 10px;
        justify-content: center
    }
}


#map {
	height: 400px; /* Adjust height as needed */
	width: 50%;   /* Adjust width as needed */
  }

  /* login popup css */
  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  